

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

::-mmoz-selection { 
  color: yellow; 
  background: transparent;
}

::selection {
  color: yellow; 
  background: transparent;
}

.not-ready { display: none; }
.copy{cursor:pointer;}
.field-to-copy {
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
  
}
.field-to-copy div {
  display: block;
  background: #333;
  color: #fff;
  padding: 10px;
  font-family: monospace;
  word-break: break-word;
}
.field-to-copy button {
  float: right;
  padding: 5px;
}

img.screenshot {
  display: block;
  max-width: 100%;
  border: 5px solid #333;
  margin-bottom: 15px;
}













